.appPage {
  position: absolute;
  @include displayFlex();
  align-items: center;
}

.home__title {
  padding-top: 1.5rem;

  h1 {
    font-size: 15vw;
    color: $secondary;
  }
}

.home__logincontainer {
  margin: auto 0 5rem 0;

  .linkBtn {
    color: $black;
    font-size: 11vw;
    text-decoration: none;
    background: $secondary;
    padding: 0.6rem 2.5rem;
  }
}

.login__infobox, .register__title {
  padding-top: 1.5rem;

  h1 {
    font-size: 15vw;
    color: $secondary;
  }
}

.login__form, .register__form {
  @include displayFlex(column nowrap, 100%, unset, 0 2rem, auto 0 0 0, center);

  .formik__form--container {
    @include displayFlex(column nowrap, 100%, 100%, 0, 0, center);

    .formik__form--field {
      @include sizeBox(100%, unset, 0 0.5rem, 0);
      background: $transparent;
      border: 1px solid darken($secondary, 60%);
      color: $secondary;
    }

    .loadingProgress {
      @include sizeBox(40px, 40px, 0, 1rem 0 0 0);
    }

    button {
      @include sizeBox(100%, 2rem, 0, 0.5rem 0 0 0);
      text-transform: capitalize;
      font-size: 1.2rem;
      background: linear-gradient(to bottom, $btn-top, $btn-bottom);
    }
  }

  span {
    margin-top: 0.3rem;
    font-size: 4vw;
    color: $secondary;

    .linkBtn {
      text-decoration: none;
      color: $primary;
    }
  }
}

.login__footer, .register__footer {
  @include footerSection;
  @include footerLinkBtn;
}