.appPage {
  position: absolute;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.home__title {
  padding-top: 1.5rem;

  h1 {
    font-size: 15vw;
    color: $secondary;
  }
}

.home__logincontainer {
  margin-bottom: 5rem;
  margin-top: auto;

  .linkBtn {
    color: $black;
    font-size: 11vw;
    text-decoration: none;
    background: $secondary;
    padding: 0.6rem 2.5rem;
  }
}

.login__infobox {
  padding-top: 1.5rem;

  h1 {
    font-size: 15vw;
    color: $secondary;
  }
}

.login__form, .register__form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  padding: 0 2rem;

  margin-top: auto;

  .formik__form--container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;

    .formik__form--field {
      width: 100%;
      height: 2rem;
      padding: 0 0.5rem;
      background: $transparent;
      border: 1px solid darken($secondary, 60%);
      color: $secondary;
    }

    .loadingProgress {
      margin-top: 1rem;
      width: 40px;
      height: 40px;
      display: flex;
    }

    button {
      text-transform: capitalize;
      height: 2rem;
      font-size: 1.2rem;
      margin-top: 0.5rem;
      width: 100%;
      background: linear-gradient(to bottom, $btn-top, $btn-bottom);
    }
  }

  span {
    margin-top: 0.3rem;
    font-size: 4vw;
    color: $secondary;

    .linkBtn {
      text-decoration: none;
      color: $primary;
    }
  }
}

.login__footer {
  margin-bottom: 1.5rem;
  margin-top: auto;
  .linkBtn {
    display: flex;
    align-items: center;
    font-size: 6vw;
    text-decoration: none;
    color: $primary;
  }
}

.register__title {
  padding-top: 1.5rem;

  h1 {
    font-size: 15vw;
    color: $secondary;
  }
}

.register__form {
   
   
}

.register__footer {
  margin-bottom: 1.5rem;
  margin-top: auto;

  .linkBtn {
    display: flex;
    align-items: center;
    font-size: 6vw;
    text-decoration: none;
    color: $primary;
  }
}


.bg-mydevice {
  background: $red;
}