$bg-1: #313C4E;
$bg-2: #3A4E66;
$primary: #A3E134;
$secondary: #E2E8E7;
$btn-top: #E4E4E4;
$btn-bottom-old: #A1A0A3;

$btn-bottom: #9FA0A2;

$red: red;
$black: black;
$transparent: transparent;
$green: green;
$white: white;
$grey: grey;

$bank-blue-1: #053C74;
$bank-blue-2: #074B8C;
$bank-white-1: #F1FFFF;