
.bg-home, .bg-login, .bg-register {
  background: radial-gradient($bg-2, $bg-1, $bg-1);
  width: 100%;
  height: 100%;
}

.appPage.bg-login, .appPage.bg-register {
  @media #{$landscape} {
    flex-flow: row wrap;
  }
}

.flip-x {
  transform: scaleX(-1);
}

.error.error-message {
  color: $red;
  padding: 0.1rem 0 0.5rem 0;
  width: 100%;
}

@mixin scaleFont($portrait-size, $landscape-size) {
  font-size: $portrait-size;
  @media #{$landscape} {
    font-size: $landscape-size;
  }
}

@mixin sizeBoxScale($width: 100%, $widthL: 100%, $height: 100%, $heightL: 100%, $pad: 0, $padL: 0, $margin: 0, $marginL: 0) {
  @media #{$portrait} {
    width: $width;
    height: $height;
    padding: $pad;
    margin: $margin;
  }

  @media #{$landscape} {
    width: $widthL;
    height: $heightL;
    padding: $padL;
    margin: $marginL;
  }
}

@mixin sizeBox($width: 100%, $height: 100%, $pad: 0, $margin: 0) {
  width: $width;
  height: $height;
  padding: $pad;
  margin: $margin;
}

@mixin displayFlex($flow: column nowrap, $width: 100%, $height: 100%, $pad: 0, $margin: 0, $align: unset) {
  display: flex;
  flex-flow: $flow;
  align-items: $align;
  @include sizeBox($width, $height, $pad, $margin);
}

@mixin titleSection() {
  display: flex;
  padding-top: 5vh;
  @media #{$landscape} {
    padding: 0;
    width: 100%;
    justify-content: center;
  }

  h1 {
    color: $secondary;
    @include scaleFont(13vw, 13vh);
    margin: 3vh 2vw 0 2vw;

    @media #{$landscape} {
      margin: 3vw 0 0 0;
    }
  }
}

@mixin footerSection() {
  margin-bottom: 5vh;
  margin-top: auto;
  
  @media #{$landscape} {
    display: flex;
    margin: 0 15vh 26vh auto;
    align-self: flex-end;
  }

  .back-icon { 
    width: 8vw;
    height: 8vw;
  }
  
  .linkBtn {
    display: flex;
    align-items: center;
    font-size: 6vw;
    text-decoration: none;
    color: $primary;
  }
}



.overlay__error {
  @include displayFlex(column nowrap, 90%, unset, 5vw, 0, center);
  position: absolute;
  background: $secondary;
  border-radius: 5vw;
  z-index: 1000;

  @media #{$landscape} {
    padding: 5vh;
    align-self: flex-start;
    left: 5%;
  }

  h3 {
    text-transform: capitalize;
    @include scaleFont(11vw, 11vh);
  }

  span {
    text-transform: capitalize;
    color: $red !important;
    padding: 0;
    margin: 0;

    &:first-of-type {
      padding-top: 2vw;

      @media #{$landscape} {
        padding-top: 2vh;
      }
    }

    &:last-of-type {
      padding-bottom: 5vw;

      @media #{$landscape} {
        padding-bottom: 5vh;
      }
    }
  }

  button {
    text-transform: uppercase;
    @include scaleFont(6vw, 6vh);

    border: 0;
    background: $transparent;
  }

  &.shrink {
    transform: scale(0);
    transition: 0.5s all ease-in-out;
  }

}
