* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

.bg-home, .bg-login, .bg-register {
  background: radial-gradient(#3A4E66, #313C4E, #313C4E);
  width: 100%;
  height: 100%;
}

@media only screen and (orientation: landscape) {
  .appPage.bg-login, .appPage.bg-register {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.flip-x {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.error.error-message {
  color: red;
  padding: 0.1rem 0 0.5rem 0;
  width: 100%;
}

.overlay__error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: unset;
  padding: 5vw;
  margin: 0;
  position: absolute;
  background: #E2E8E7;
  border-radius: 5vw;
  z-index: 1000;
  top: 30vh;
  left: 5vw;
}

@media only screen and (orientation: landscape) {
  .overlay__error {
    padding: 5vh;
    -ms-flex-item-align: start;
        align-self: flex-start;
    left: 5vw;
  }
}

.overlay__error h3 {
  text-transform: capitalize;
  font-size: 11vw;
}

@media only screen and (orientation: landscape) {
  .overlay__error h3 {
    font-size: 11vh;
  }
}

.overlay__error span {
  text-transform: capitalize;
  color: red !important;
  padding: 0;
  margin: 0;
  font-size: 4vw;
}

@media only screen and (orientation: landscape) {
  .overlay__error span {
    font-size: 4vh;
  }
}

.overlay__error span:first-of-type {
  padding-top: 2vw;
}

@media only screen and (orientation: landscape) {
  .overlay__error span:first-of-type {
    padding-top: 2vh;
  }
}

.overlay__error span:last-of-type {
  padding-bottom: 5vw;
}

@media only screen and (orientation: landscape) {
  .overlay__error span:last-of-type {
    padding-bottom: 5vh;
  }
}

.overlay__error button {
  text-transform: uppercase;
  font-size: 6vw;
  border: 0;
  background: transparent;
}

@media only screen and (orientation: landscape) {
  .overlay__error button {
    font-size: 6vh;
  }
}

.overlay__error.shrink {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.alwaysBack {
  opacity: 1 !important;
  -webkit-transition: none !important;
  transition: none !important;
  z-index: -1 !important;
  left: 0 !important;
}

.fade-appear, .fade-enter {
  z-index: 1;
  left: 101vw;
}

.fade-appear-active, .fade-enter.fade-enter-active {
  left: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.fade-exit {
  left: 0vw;
}

.fade-exit.fade-exit-active {
  left: 101vw;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.overlay__fader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: black;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

.overlay__fader.zero-opacity {
  opacity: 0;
  pointer-events: none;
}

.overlay__fader.one-opacity {
  opacity: 1;
  pointer-events: unset;
}

.appPage {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__title, .login__infobox, .register__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5vh;
}

@media only screen and (orientation: landscape) {
  .home__title, .login__infobox, .register__title {
    padding: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.home__title h1, .login__infobox h1, .register__title h1 {
  color: #E2E8E7;
  font-size: 13vw;
  margin: 3vh 2vw 0 2vw;
}

@media only screen and (orientation: landscape) {
  .home__title h1, .login__infobox h1, .register__title h1 {
    font-size: 13vh;
  }
}

@media only screen and (orientation: landscape) {
  .home__title h1, .login__infobox h1, .register__title h1 {
    margin: 3vw 0 0 0;
  }
}

.home__logincontainer, .login__footer, .register__footer {
  margin-bottom: 5vh;
  margin-top: auto;
}

@media only screen and (orientation: landscape) {
  .home__logincontainer, .login__footer, .register__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 15vh 26vh auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.home__logincontainer .back-icon, .login__footer .back-icon, .register__footer .back-icon {
  width: 8vw;
  height: 8vw;
}

.home__logincontainer .linkBtn, .login__footer .linkBtn, .register__footer .linkBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6vw;
  text-decoration: none;
  color: #A3E134;
}

.login__form, .register__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: unset;
  padding: 0;
  margin: auto 0 0 0;
}

@media only screen and (orientation: landscape) {
  .login__form, .register__form {
    margin-top: auto;
    width: 50%;
  }
}

.login__form .formik__form--container, .register__form .formik__form--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.login__form .formik__form--container .formik__form--field, .register__form .formik__form--container .formik__form--field {
  width: 80vw;
  height: unset;
  padding: 0 0.5rem;
  margin: 0;
  font-size: 5vw;
  background: transparent;
  border: 1px solid #435552;
  color: #E2E8E7;
}

@media only screen and (orientation: landscape) {
  .login__form .formik__form--container .formik__form--field, .register__form .formik__form--container .formik__form--field {
    font-size: 5vh;
  }
}

@media only screen and (orientation: landscape) {
  .login__form .formik__form--container .formik__form--field, .register__form .formik__form--container .formik__form--field {
    width: 80vh;
    height: unset;
    padding: 0;
    margin: 0;
  }
}

.login__form .formik__form--container .loadingProgress, .register__form .formik__form--container .loadingProgress {
  width: 15vw !important;
  height: 15vw !important;
  padding: 0;
  margin: 5vh 0 5vh 0;
}

@media only screen and (orientation: landscape) {
  .login__form .formik__form--container .loadingProgress, .register__form .formik__form--container .loadingProgress {
    width: 15vh !important;
    height: 15vh !important;
    margin: 5vh 0 5vh 0;
  }
}

.login__form .formik__form--container button, .register__form .formik__form--container button {
  width: 80vw;
  height: 12vw;
  padding: 0;
  margin: 0.5rem 0 0 0;
  text-transform: capitalize;
  font-size: 8vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#E4E4E4), to(#9FA0A2));
  background: linear-gradient(to bottom, #E4E4E4, #9FA0A2);
}

@media only screen and (orientation: landscape) {
  .login__form .formik__form--container button, .register__form .formik__form--container button {
    font-size: 8vh;
  }
}

@media only screen and (orientation: landscape) {
  .login__form .formik__form--container button, .register__form .formik__form--container button {
    width: 80vh;
    height: 12vh;
    padding: 0;
    margin: 0;
  }
}

.login__form span, .register__form span {
  margin-top: 0.3rem;
  font-size: 4vw;
  color: #E2E8E7;
}

@media only screen and (orientation: landscape) {
  .login__form span, .register__form span {
    font-size: 4vh;
  }
}

.login__form span .linkBtn, .register__form span .linkBtn {
  text-decoration: none;
  color: #A3E134;
}

.bg-dashboard {
  background: radial-gradient(#3A4E66, #313C4E, #313C4E);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  overflow: hidden;
}

.bg-dashboard .dashboard__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media only screen and (orientation: landscape) {
  .bg-dashboard .dashboard__top {
    padding: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.bg-dashboard .dashboard__top h1 {
  color: #E2E8E7;
  font-size: 13vw;
  margin: 3vh 2vw 0 2vw;
}

@media only screen and (orientation: landscape) {
  .bg-dashboard .dashboard__top h1 {
    font-size: 13vh;
  }
}

@media only screen and (orientation: landscape) {
  .bg-dashboard .dashboard__top h1 {
    margin: 3vw 0 0 0;
  }
}

@media only screen and (orientation: landscape) {
  .bg-dashboard .dashboard__top h1 {
    text-align: center;
  }
}

.bg-dashboard .dashboard__top .userinfo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #E2E8E7;
  font-size: 5vw;
}

@media only screen and (orientation: landscape) {
  .bg-dashboard .dashboard__top .userinfo__container {
    font-size: 5vh;
  }
}

.bg-dashboard .dashboard__top .userinfo__container .userinfo__name, .bg-dashboard .dashboard__top .userinfo__container .userinfo__level {
  color: #A3E134;
}

.bg-dashboard .dashboard__appgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.bg-dashboard .dashboard__appgrid .AppGrid__icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  height: unset;
  padding: 0;
  margin: 2vw;
  background: transparent;
  border: 0;
  color: #A3E134;
  text-decoration: none;
}

@media only screen and (orientation: landscape) {
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container {
    width: 20%;
    margin: 2vh;
  }
}

@media only screen and (orientation: portrait) {
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container:first-child .AppGrid__icon__icon {
    border-top-left-radius: 2vh;
  }
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container:nth-child(2) .AppGrid__icon__icon {
    border-top-right-radius: 2vh;
  }
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container:nth-child(7) .AppGrid__icon__icon {
    border-bottom-left-radius: 2vh;
  }
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container:nth-child(8) .AppGrid__icon__icon {
    border-bottom-right-radius: 2vh;
  }
}

@media only screen and (orientation: landscape) {
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container:first-child .AppGrid__icon__icon {
    border-top-left-radius: 2vw;
  }
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container:nth-child(4) .AppGrid__icon__icon {
    border-top-right-radius: 2vw;
  }
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container:nth-child(5) .AppGrid__icon__icon {
    border-bottom-left-radius: 2vw;
  }
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container:nth-child(8) .AppGrid__icon__icon {
    border-bottom-right-radius: 2vw;
  }
}

.bg-dashboard .dashboard__appgrid .AppGrid__icon__container .AppGrid__icon__icon {
  border: 1px solid black;
  font-size: 11vh;
}

@media only screen and (orientation: landscape) {
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container .AppGrid__icon__icon {
    font-size: 11vw;
  }
}

@media only screen and (orientation: portrait) {
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container .AppGrid__icon__icon {
    width: 20vw;
    height: 20vw;
    padding: 1vw;
    margin: 0;
  }
}

@media only screen and (orientation: landscape) {
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container .AppGrid__icon__icon {
    width: 20vh;
    height: 20vh;
    padding: 1vh;
    margin: 0;
  }
}

.bg-dashboard .dashboard__appgrid .AppGrid__icon__container .AppGrid__icon__text {
  text-align: center;
  text-transform: capitalize;
  color: #E2E8E7;
  font-size: 3vh;
}

@media only screen and (orientation: landscape) {
  .bg-dashboard .dashboard__appgrid .AppGrid__icon__container .AppGrid__icon__text {
    font-size: 3vw;
  }
}

.bg-scan {
  background: darkgreen;
  overflow: hidden;
}

.bg-scan .scan__footer {
  margin-bottom: 5vh;
  margin-top: auto;
}

@media only screen and (orientation: landscape) {
  .bg-scan .scan__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 15vh 26vh auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.bg-scan .scan__footer .back-icon {
  width: 8vw;
  height: 8vw;
}

.bg-scan .scan__footer .linkBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6vw;
  text-decoration: none;
  color: #A3E134;
}

.bg-mydevice {
  background: radial-gradient(#3A4E66, #313C4E, #313C4E);
  overflow: hidden;
}

.bg-mydevice .mydevice__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: unset;
  padding: 5vw;
  margin: 0;
  color: #E2E8E7;
}

.bg-mydevice .mydevice__title h1 {
  font-size: 8vw;
  font-style: italic;
  margin-bottom: 4vw;
}

@media only screen and (orientation: landscape) {
  .bg-mydevice .mydevice__title h1 {
    font-size: 8vh;
  }
}

.bg-mydevice .mydevice__title .mydevice__device__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.bg-mydevice .mydevice__title .mydevice__device__container .mydevice__device__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.bg-mydevice .mydevice__title .mydevice__device__container .mydevice__device__info span {
  font-size: 4vw;
}

@media only screen and (orientation: landscape) {
  .bg-mydevice .mydevice__title .mydevice__device__container .mydevice__device__info span {
    font-size: 4vh;
  }
}

.bg-mydevice .mydevice__title .mydevice__device__container .mydevice__device__info span:first-child {
  margin-bottom: 1vw;
}

.bg-mydevice .mydevice__title .mydevice__device__container .mydevice__device__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-mydevice .mydevice__title .mydevice__device__container .mydevice__device__buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#E4E4E4), color-stop(#cbcbcb), color-stop(#929395), to(#535455));
  background: linear-gradient(to bottom, #E4E4E4, #cbcbcb, #929395, #535455);
}

@media only screen and (orientation: portrait) {
  .bg-mydevice .mydevice__title .mydevice__device__container .mydevice__device__buttons button {
    width: 33vw;
    height: 12vw;
    border-radius: 2vw;
    font-size: 5vw;
  }
}

@media only screen and (orientation: landscape) {
  .bg-mydevice .mydevice__title .mydevice__device__container .mydevice__device__buttons button {
    width: 33vh;
    height: 12vh;
    border-radius: 2vw;
    font-size: 5vh;
  }
}

.bg-mydevice .mydevice__button {
  font-family: 'Courier New', Courier, monospace;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 12vw;
  font-weight: 700;
  text-decoration: none;
  color: black;
  border: 0;
}

.bg-mydevice .mydevice__button:visited {
  text-decoration: none;
  color: black;
}

.bg-mydevice .mydevice__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: unset;
  padding: 5vw;
  margin: 0;
}

.bg-mydevice .mydevice__content .mydevice__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, left bottom, from(#E4E4E4), color-stop(#cbcbcb), color-stop(#929395), to(#535455));
  background: linear-gradient(to bottom, #E4E4E4, #cbcbcb, #929395, #535455);
  margin-bottom: 5vw;
}

@media only screen and (orientation: portrait) {
  .bg-mydevice .mydevice__content .mydevice__button {
    width: 100%;
    height: 12vw;
    border-radius: 2vw;
    font-size: 5vw;
  }
}

@media only screen and (orientation: landscape) {
  .bg-mydevice .mydevice__content .mydevice__button {
    width: 33vh;
    height: 12vh;
    border-radius: 2vw;
    font-size: 5vh;
  }
}

.bg-mydevice .mydevice__footer {
  margin-bottom: 5vh;
  margin-top: auto;
}

@media only screen and (orientation: landscape) {
  .bg-mydevice .mydevice__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 15vh 26vh auto;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.bg-mydevice .mydevice__footer .back-icon {
  width: 8vw;
  height: 8vw;
}

.bg-mydevice .mydevice__footer .linkBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6vw;
  text-decoration: none;
  color: #A3E134;
}
/*# sourceMappingURL=main.css.map */