* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

.bg-home, .bg-login, .bg-register {
  background: radial-gradient(#3A4E66, #313C4E, #313C4E);
}

.flip-x {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.error.error-message {
  color: red;
  padding: 0.1rem 0 0.5rem 0;
  width: 100%;
}

.overlay__error {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  background: #E2E8E7;
  border-radius: 10px;
  padding: 1rem;
}

.overlay__error h3 {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.overlay__error span {
  text-transform: capitalize;
  color: red !important;
  padding: 0;
  margin: 0;
}

.overlay__error span:first-of-type {
  padding-top: 0.5rem;
}

.overlay__error span:last-of-type {
  padding-bottom: 1.5rem;
}

.overlay__error button {
  text-transform: uppercase;
  font-size: 1rem;
  width: 3rem;
  border: 0;
  background: transparent;
}

.overlay__error.shrink {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.alwaysBack {
  opacity: 1 !important;
  -webkit-transition: none !important;
  transition: none !important;
  z-index: -1 !important;
  left: 0 !important;
}

.fade-appear, .fade-enter {
  z-index: 1;
  left: 101vw;
}

.fade-appear-active, .fade-enter.fade-enter-active {
  left: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.fade-exit {
  left: 0vw;
}

.fade-exit.fade-exit-active {
  left: 101vw;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.overlay__fader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: black;
  -webkit-transition: all 1000ms ease-in-out;
  transition: all 1000ms ease-in-out;
}

.overlay__fader.zero-opacity {
  opacity: 0;
  pointer-events: none;
}

.overlay__fader.one-opacity {
  opacity: 1;
  pointer-events: unset;
}

.appPage {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

.home__title {
  padding-top: 1.5rem;
}

.home__title h1 {
  font-size: 15vw;
  color: #E2E8E7;
}

.home__logincontainer {
  margin-bottom: 5rem;
}

.home__logincontainer .linkBtn {
  color: black;
  font-size: 11vw;
  text-decoration: none;
  background: #E2E8E7;
  padding: 0.6rem 2.5rem;
}

.login__infobox {
  padding-top: 1.5rem;
}

.login__infobox h1 {
  font-size: 15vw;
  color: #E2E8E7;
}

.login__form, .register__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 2rem;
}

.login__form .formik__form--container, .register__form .formik__form--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.login__form .formik__form--container .formik__form--field, .register__form .formik__form--container .formik__form--field {
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  background: transparent;
  border: 1px solid #435552;
  color: #E2E8E7;
}

.login__form .formik__form--container .loadingProgress, .register__form .formik__form--container .loadingProgress {
  margin-top: 1rem;
}

.login__form .formik__form--container button, .register__form .formik__form--container button {
  height: 2rem;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#E4E4E4), to(#A1A0A3));
  background: linear-gradient(to bottom, #E4E4E4, #A1A0A3);
}

.login__form span, .register__form span {
  margin-top: 1rem;
  font-size: 4vw;
  color: #E2E8E7;
}

.login__form span .linkBtn, .register__form span .linkBtn {
  text-decoration: none;
  color: #A3E134;
}

.login__footer {
  margin-bottom: 1.5rem;
}

.login__footer .linkBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6vw;
  text-decoration: none;
  color: #A3E134;
}

.register__title {
  padding-top: 1.5rem;
}

.register__title h1 {
  font-size: 15vw;
  color: #E2E8E7;
}

.register__footer {
  margin-bottom: 1.5rem;
}

.register__footer .linkBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 6vw;
  text-decoration: none;
  color: #A3E134;
}

.bg-dashboard {
  background: green;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  padding-top: 1.5rem;
}

.bg-dashboard .dashboard__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-dashboard .dashboard__top h1 {
  font-size: 15vw;
  color: #E2E8E7;
}

.bg-dashboard .dashboard__appgrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding-bottom: 10vw;
}

.bg-dashboard .dashboard__appgrid .AppGrid__icon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 0;
  width: 35%;
  margin: 0 3vw;
}

.bg-dashboard .dashboard__appgrid .AppGrid__icon__container .AppGrid__icon__icon {
  font-size: calc((20vw + 20vh)/2);
  border: 1px solid black;
  padding: 3vw;
  margin: 1rem 1rem 0 1rem;
}

.bg-dashboard .dashboard__appgrid .AppGrid__icon__container .AppGrid__icon__text {
  font-size: 5vw;
  text-transform: capitalize;
  color: #E2E8E7;
}
/*# sourceMappingURL=main.css.map */